*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

* > li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #484848;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Monomakh", serif;
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  color: #484848;
}

*[lang=zh-TW] {
  font-family: "LXGW WenKai TC", serif;
}

.icon {
  padding: 0 10px;
}

.pr-1 {
  padding-right: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.d-none {
  display: none;
}

body {
  background-image: linear-gradient(to right bottom, #fce67a, #fe97b3, #97d6fe);
}

.loading-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 7%, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 100;
}
.loading-text {
  color: #b9b9b9;
  background-image: linear-gradient(to right, #fce67a, #fe97b3, #97d6fe);
  background-clip: text;
  color: transparent;
  background-size: 200% auto;
  animation: colorChange 3s linear infinite;
}
.loading-bar {
  width: 12px;
  height: 40px;
  y: 30px;
  animation: bounce 1.6s infinite ease-in-out;
}

@keyframes colorChange {
  0%, 100% {
    background-position: 0% center;
  }
  50% {
    background-position: 100% center;
  }
}
@keyframes bounce {
  0%, 100% {
    y: 30px;
    height: 20px;
  }
  50% {
    y: 10px;
    height: 60px;
  }
}
.area {
  width: clamp(50rem, 85vw, 130rem);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0 10px 10px 10px;
  overflow: hidden;
  cursor: default;
  transition: width 1s;
}
@media (max-width: 560px) {
  .area {
    width: 82%;
  }
}
.area-inner {
  display: flex;
  height: 70rem;
  justify-content: center;
}
@media (max-width: 1024px) {
  .area-inner {
    flex-direction: column;
    height: 75rem;
  }
}
.area-left {
  margin-top: 8rem;
  background-color: hsla(0, 0%, 100%, 0.5);
  backdrop-filter: blur(10px);
  width: 28rem;
  width: min(25vw, 28rem);
}
@media (max-width: 1024px) {
  .area-left {
    width: 100%;
    margin-top: 0rem;
    box-shadow: 0 0.2rem 1rem hsl(0, 44%, 80%);
    border-radius: 10px 10px 0 0;
  }
}
.area-left .info {
  position: relative;
  box-sizing: border-box;
}
@media (max-width: 1024px) {
  .area-left .info-inner {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    grid-template-rows: 12rem 1fr;
    justify-content: space-evenly;
  }
}
@media (max-width: 768px) {
  .area-left .info-inner {
    grid-template-rows: 13rem 1fr;
  }
}
@media (max-width: 560px) {
  .area-left .info-inner {
    grid-template-columns: 0.5fr 1fr;
  }
}
.area-left .info__image {
  position: absolute;
  left: 50%;
  top: -21rem;
  transform: translateX(-50%);
}
@media (max-width: 1024px) {
  .area-left .info__image {
    position: static;
    justify-self: center;
    transform: translateX(0%);
    grid-row: 1/-1;
  }
}
@media (max-width: 768px) {
  .area-left .info__image {
    grid-row: 1/2;
  }
}
.area-left .info__image > img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 50%;
  z-index: 5;
  border: 0.5rem solid #fff;
}
@media (max-width: 1024px) {
  .area-left .info__image > img {
    width: 15rem;
    height: 15rem;
  }
}
@media (max-width: 768px) {
  .area-left .info__image > img {
    width: 12rem;
    height: 12rem;
  }
}
@media (max-width: 560px) {
  .area-left .info__image > img {
    width: 10rem;
    height: 10rem;
    border: 0.2rem solid #fff;
    margin-left: 0.5rem;
  }
}
.area-left .info__content {
  border: 0.1rem solid #fff;
  padding: 1.5rem;
  margin: 0.6rem;
  border-radius: 1.5rem;
  margin-top: 13rem;
}
@media (max-width: 1024px) {
  .area-left .info__content {
    margin: 1rem;
    margin: 0rem 1rem;
    padding: 1rem;
    grid-column: 2/-1;
  }
}
@media (max-width: 768px) {
  .area-left .info__content {
    border: 0.1rem solid transparent;
    padding: 1.2rem;
    justify-self: flex-start;
  }
}
@media (max-width: 560px) {
  .area-left .info__content {
    padding-left: 0;
  }
}
@media (max-width: 1024px) {
  .area-left .info__content-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .area-left .info__content-container {
    flex-direction: column;
    width: 100%;
  }
}
.area-left .info__content-info {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 30px;
  font-weight: 300;
}
.area-left .info__content-info > p:nth-child(2) {
  font-size: 20px;
}
@media (max-width: 1024px) {
  .area-left .info__content-info {
    margin-bottom: 0rem;
    flex: 1.5;
  }
}
@media (max-width: 768px) {
  .area-left .info__content-info > p {
    display: inline-block;
  }
}
@media (max-width: 560px) {
  .area-left .info__content-info > p {
    font-size: 24px;
  }
  .area-left .info__content-info > p:nth-child(2) {
    font-size: 16px;
  }
}
.area-left .info__content-contact {
  margin-bottom: 1rem;
}
@media (max-width: 1024px) {
  .area-left .info__content-contact {
    margin-bottom: 0rem;
    flex: 2;
  }
}
@media (max-width: 768px) {
  .area-left .info__content-contact {
    margin-top: 1rem;
  }
}
.area-left .info__content-contact > a {
  display: block;
}
@media (max-width: 560px) {
  .area-left .info__content-contact > a {
    font-size: 14px;
  }
}
.area-left .info__content-contact > a i {
  transition: color 0.5s, transform 0.3s;
}
.area-left .info__content-contact > a:hover i {
  background-image: linear-gradient(to right bottom, #fce67a, #fe97b3, #97d6fe);
  background-clip: text;
  color: transparent;
  transform: scale(1.2);
}
.area-left .info__content-intro {
  font-size: 14px;
  padding: 1rem;
  cursor: default;
}
@media (max-width: 1024px) {
  .area-left .nav {
    display: flex;
    grid-column: 2/-1;
  }
}
@media (max-width: 768px) {
  .area-left .nav {
    grid-column: 1/-1;
  }
}
.area-left .nav-title {
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  width: 100%;
}
@media (max-width: 1024px) {
  .area-left .nav-title {
    text-align: center;
  }
}
.area-left .nav-title a {
  display: block;
  padding: 1rem 1.5rem;
  position: relative;
  letter-spacing: 2px;
  border-bottom: 1px solid #fff;
}
@media (max-width: 1024px) {
  .area-left .nav-title a {
    border-bottom: 1px solid transparent;
  }
}
@media (max-width: 560px) {
  .area-left .nav-title a {
    font-size: 1.4rem;
  }
}
.area-left .nav-title a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, #fff, transparent);
  transition: left 0.5s;
}
.area-left .nav-title a:hover {
  background-color: #fac6c6;
}
.area-left .nav-title a:hover::before {
  left: 100%;
}
.area-right {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.3607843137);
  overflow-y: auto;
  text-align: center;
  scroll-behavior: smooth;
}
@-moz-document url-prefix() {
  .area-right {
    scrollbar-color: #cab7cf transparent;
  }
}
.area-right > section > h2 {
  margin: 3rem auto;
  letter-spacing: 3px;
  font-size: 4.5rem;
  color: #fff;
  text-shadow: 1px 1px 5px #ffb5b5, 3px 3px 5px #d69090;
}
@media (max-width: 1024px) {
  .area-right > section > h2 {
    text-align: center;
    font-size: 3rem;
  }
}
.area-right section:not(:first-of-type) h2 {
  margin-top: 5rem;
}
.area-right::-webkit-scrollbar {
  width: 5px;
  background: #f3ecda;
}
.area-right::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, #fce67a, #fe97b3, #97d6fe);
}
.area-right > .project {
  scroll-margin-top: 25px;
  transition: opacity 2s;
}
.area-right > .skill {
  scroll-margin-top: 25px;
  transition: opacity 2s;
}

.card {
  perspective: 150rem;
  position: relative;
  width: 100%;
  min-height: 20rem;
  cursor: pointer;
}
.card-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 35rem);
  gap: 4rem;
  margin-inline: 3rem;
}
@media (max-width: 1024px) {
  .card-container {
    grid-template-columns: repeat(auto-fit, 30rem);
    gap: 2.5rem;
  }
}
.card__side {
  height: 20rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
  transition: all 0.8s ease;
}
.card__side--back {
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__link {
  text-decoration: none;
}
.card__link--1 {
  color: #243056;
}
.card__link--2 {
  color: #66a28e;
}
.card__link--3 {
  color: #5e5757;
}
.card__link--4 {
  color: #385b86;
}
.card__link--5 {
  color: #319d51;
}
.card:hover .card__side--front {
  animation: rotate_front 1.2s cubic-bezier(0.27, 0.74, 0.63, 0) forwards;
}
.card:hover .card__side--back {
  animation: rotate_back 1.2s cubic-bezier(0.27, 0.74, 0.63, 0) forwards;
}
.card-reverse .card__side--front {
  animation: rotate_front_reverse 1.2s cubic-bezier(0.27, 0.74, 0.63, 0) forwards;
}
.card-reverse .card__side--back {
  animation: rotate_back_reverse 1.2s cubic-bezier(0.27, 0.74, 0.63, 0) forwards;
}
.card__picture {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  background-blend-mode: screen;
}
.card__picture--1 {
  background-image: linear-gradient(to right bottom, #a2b6f6, #243056), url(../img/Accessories_home.png);
}
.card__picture--2 {
  background-image: linear-gradient(to right bottom, #bbdfd3, #66a28e), url(../img/happypet.png);
}
.card__picture--3 {
  background-image: linear-gradient(to right bottom, #d4d4d4, #5e5757), url(../img/snake_game.png);
}
.card__picture--4 {
  background-image: linear-gradient(to right bottom, #8acbf3, #385b86), url(../img/vue3_accounting.png);
}
.card__picture--5 {
  background-image: linear-gradient(to right bottom, #69dc8b, #319d51), url(../img/taiwan_travel.png);
}
.card__heading {
  width: 80%;
  font-size: 2.6rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  position: absolute;
  top: 12rem;
  right: 1.6rem;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  transform: skewX(-25deg);
}
@media (max-width: 1024px) {
  .card__heading {
    width: 90%;
  }
}
.card__heading-span {
  padding: 1rem 1.5rem;
  margin-right: 2rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  transform: skewX(25deg);
  text-shadow: 1px 1px 4px #ffffff;
}
.card__heading-span--subtitle {
  padding: 0.7rem 1.3rem;
  font-size: 1.4rem;
  margin-top: -1.3rem;
  margin-right: -1rem;
}
.card__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(162, 182, 246, 0.85), rgba(36, 48, 86, 0.85));
}
.card__heading-span--2 {
  background-image: linear-gradient(to right bottom, rgba(187, 223, 211, 0.85), rgba(102, 162, 142, 0.85));
}
.card__heading-span--3 {
  background-image: linear-gradient(to right bottom, rgba(212, 212, 212, 0.85), rgba(94, 87, 87, 0.85));
}
.card__heading-span--4 {
  background-image: linear-gradient(to right bottom, rgba(138, 203, 243, 0.85), rgba(56, 91, 134, 0.85));
}
.card__heading-span--5 {
  background-image: linear-gradient(to right bottom, rgba(105, 220, 139, 0.85), rgba(49, 157, 81, 0.85));
}
.card__details {
  padding: 1.2rem;
}
.card__details ul {
  list-style: none;
  margin: 0 auto;
  font-weight: 600;
}
.card__details ul li {
  text-align: center;
  padding: 0.55rem;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

@keyframes rotate_front {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(540deg);
  }
}
@keyframes rotate_front_reverse {
  0% {
    transform: rotateY(540deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@keyframes rotate_back {
  0% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(720deg);
  }
}
@keyframes rotate_back_reverse {
  0% {
    transform: rotateY(720deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
.skill .d-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 10rem);
  grid-template-rows: repeat(auto-fit, 10rem);
  gap: 2rem;
}
.skill .d-grid > li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-shadow: 1px 1px 5px #ffb5b5, 3px 3px 5px #d69090;
  position: relative;
}
.skill .d-grid > li:hover img {
  animation: floatItem 1.5s linear infinite;
}
.skill .d-grid > li:hover::after {
  animation: floatShadow 1.5s linear infinite;
}
.skill .d-grid > li::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  width: 2rem;
  height: 0.8rem;
  border-radius: 6rem/3rem;
}
.skill-container {
  padding: 0 10rem;
}
@media (max-width: 768px) {
  .skill-container {
    padding: 0 6rem;
  }
}
@media (max-width: 560px) {
  .skill-container {
    padding: 0 3rem;
  }
}
.skill__common {
  cursor: default;
  color: #fff;
  text-shadow: 1px 1px 5px #ffb5b5, 3px 3px 5px #d69090;
  margin-bottom: 1rem;
  padding: 2rem;
  border: 2px solid #f7f7f7;
  border-radius: 2rem;
  transition: box-shadow 0.3s;
}
.skill__common:hover {
  box-shadow: 2px 2px 6px #d69090;
}
.skill__common-title {
  padding-bottom: 1.5rem;
  font-size: 20px;
}

img {
  width: 8rem;
  display: block;
}

@keyframes floatItem {
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes floatShadow {
  0%, 100% {
    background-color: #b8b4b4;
  }
  50% {
    width: 4rem;
    height: 1rem;
    border-radius: 10rem/3rem;
  }
}

/*# sourceMappingURL=style.css.map */
