@charset "UTF-8";
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

* > li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #484848;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Monomakh", serif;
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
  position: relative;
  font-size: 16px;
  color: #484848;
}

*[lang=zh-TW] {
  font-family: "LXGW WenKai TC", serif;
}

/* 英文設置字型 */
.pr-1 {
  padding-right: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.zone {
  border: 1px solid #fff;
  padding: 2rem;
  margin: 1rem;
  border-radius: 1rem;
}

.d-none {
  display: none;
}

body {
  background-repeat: no-repeat;
  background-image: linear-gradient(to right bottom, #fce67a, #fe97b3, #97d6fe);
}

.name-text {
  text-align: center;
  text-transform: uppercase;
  margin: 5rem;
  font-size: 5rem;
  font-weight: 400;
  color: #fff;
  text-shadow: 0.2rem 0.2rem 2rem #888;
  overflow: hidden;
}

.section-portfolio {
  display: flex;
  justify-content: space-around;
  opacity: 0;
}

.loading-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(18, 18, 18, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 100;
}
.loading-text {
  color: #b9b9b9;
  background-image: linear-gradient(to right, #fce67a, #fe97b3, #97d6fe);
  background-clip: text;
  color: transparent;
  background-size: 200% auto; /* 讓漸層範圍變大 */
  animation: colorChange 3s linear infinite;
}
.loading-bar {
  width: 12px;
  height: 40px;
  y: 30px;
  animation: bounce 1.6s infinite ease-in-out;
}

@keyframes colorChange {
  0%, 100% {
    background-position: 0% center;
  }
  50% {
    background-position: 100% center;
  }
}
@keyframes bounce {
  0%, 100% {
    y: 30px;
    height: 20px;
  }
  50% {
    y: 10px;
    height: 60px;
  }
}
.area {
  max-width: 140rem;
  width: 140rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0 10px 10px 10px;
  overflow: hidden;
  cursor: default;
}
.area-inner {
  display: flex;
  height: 70rem;
}
.area-left {
  margin-top: 8rem;
  background-color: rgba(255, 255, 255, 0.5294117647);
  backdrop-filter: blur(10px);
  width: 20%;
}
.area-left .info {
  position: relative;
}
.area-left .info__image {
  position: absolute;
  left: 50%;
  top: -8rem;
  transform: translateX(-50%);
}
.area-left .info__image > img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 50%;
  z-index: 5;
  border: 0.5rem solid #fff;
}
.area-left .info__content {
  margin-top: 13rem;
}
.area-left .info__content-info {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 30px;
  font-weight: 300;
}
.area-left .info__content-info > p:nth-child(2) {
  font-size: 20px;
}
.area-left .info__content-contact {
  margin-bottom: 1rem;
}
.area-left .info__content-contact > a {
  display: block;
}
.area-left .info__content-contact > a i {
  transition: color 0.5s, transform 0.3s;
}
.area-left .info__content-contact > a:hover i {
  background-image: linear-gradient(to right bottom, #fce67a, #fe97b3, #97d6fe);
  background-clip: text;
  color: transparent;
  transform: scale(1.2);
}
.area-left .info__content-title {
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}
.area-left .info__content-title a {
  display: block;
  padding: 1rem 1.5rem;
  position: relative;
  letter-spacing: 2px;
  border-bottom: 1px solid #fff;
}
.area-left .info__content-title a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, #fff, transparent);
  transition: left 0.5s;
}
.area-left .info__content-title a:hover {
  background-color: #fac6c6;
  cursor: pointer;
}
.area-left .info__content-title a:hover::before {
  left: 100%;
}
.area-left .info__content-intro {
  font-size: 14px;
  padding: 1rem;
  cursor: default;
}
.area-left .info__content ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, 10rem);
  justify-content: center;
}
.area-left .info__content ul > li {
  padding: 0.5rem;
  text-align: center;
}
.area-left .info__content ul li:nth-child(4n+1),
.area-left .info__content ul li:nth-child(4n+4) {
  background-color: black;
  color: white;
}
.area-left .info__content ul li:nth-child(4n+2),
.area-left .info__content ul li:nth-child(4n+3) {
  background-color: white;
  color: black;
}
.area-right {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.3607843137);
  overflow-y: auto;
  text-align: center;
  scroll-behavior: smooth;
}
.area-right > section > h2 {
  margin: 3rem auto;
  letter-spacing: 3px;
  font-size: 45px;
  color: #fff;
  text-shadow: 1px 1px 5px #ffb5b5, 3px 3px 5px #d69090;
}
.area-right section:not(:first-of-type) h2 {
  margin-top: 5rem;
}
.area-right::-webkit-scrollbar {
  width: 5px;
  /* background: var(--color-secondary); */
  background: #F3ECDA;
  /* background: #000; */
}
.area-right::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, #fce67a, #fe97b3, #97d6fe);
}
.area-right > .project {
  scroll-margin-top: 25px;
  transition: opacity 2s;
}
.area-right > .skill {
  scroll-margin-top: 25px;
  transition: opacity 2s;
}

.icon {
  padding: 0 10px;
}

.card {
  perspective: 150rem;
  position: relative;
  height: 20rem;
  width: 35rem;
  cursor: pointer;
}
.card-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 35rem);
  grid-template-rows: repeat(auto-fit, 20rem);
  gap: 4rem;
}
.card__side {
  background-color: orangered;
  height: 20rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
}
.card__side--back {
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__link--1 {
  text-decoration: none;
  color: #243056;
}
.card__link--2 {
  text-decoration: none;
  color: #66a28e;
}
.card__link--3 {
  text-decoration: none;
  color: #5e5757;
}
.card__link--4 {
  text-decoration: none;
  color: #385b86;
}
.card__link--5 {
  text-decoration: none;
  color: #319d51;
}
.card:hover .card__side--front {
  animation: rotate_front 1.2s cubic-bezier(0.27, 0.74, 0.63, 0) forwards;
}
.card:hover .card__side--back {
  animation: rotate_back 1.2s cubic-bezier(0.27, 0.74, 0.63, 0) forwards;
}
.card__picture {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 20rem;
  background-blend-mode: screen;
}
.card__picture--1 {
  background-image: linear-gradient(to right bottom, #a2b6f6, #243056), url(../img/Accessories_home.png);
}
.card__picture--2 {
  background-image: linear-gradient(to right bottom, #bbdfd3, #66a28e), url(../img/happypet.png);
}
.card__picture--3 {
  background-image: linear-gradient(to right bottom, #d4d4d4, #5e5757), url(../img/snake_game.png);
}
.card__picture--4 {
  background-image: linear-gradient(to right bottom, #8acbf3, #385b86), url(../img/vue3_accounting.png);
}
.card__picture--5 {
  background-image: linear-gradient(to right bottom, #69dc8b, #319d51), url(../img/taiwan_travel.png);
}
.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  position: absolute;
  top: 12rem;
  right: 1.5rem;
  width: 81%;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  transform: skewX(-25deg);
}
.card__heading-span {
  padding: 1rem 1.5rem;
  margin-right: 2rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  transform: skewX(25deg);
  text-shadow: 1px 1px 4px #ffffff;
}
.card__heading-span--subtitle {
  padding: 0.7rem 1.3rem;
  font-size: 1.5rem;
  margin-top: -1.3rem;
  margin-right: -1rem;
}
.card__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(162, 182, 246, 0.85), rgba(36, 48, 86, 0.85));
}
.card__heading-span--2 {
  background-image: linear-gradient(to right bottom, rgba(187, 223, 211, 0.85), rgba(102, 162, 142, 0.85));
}
.card__heading-span--3 {
  background-image: linear-gradient(to right bottom, rgba(212, 212, 212, 0.85), rgba(94, 87, 87, 0.85));
}
.card__heading-span--4 {
  background-image: linear-gradient(to right bottom, rgba(138, 203, 243, 0.85), rgba(56, 91, 134, 0.85));
}
.card__heading-span--5 {
  background-image: linear-gradient(to right bottom, rgba(105, 220, 139, 0.85), rgba(49, 157, 81, 0.85));
}
.card__details {
  padding: 1.2rem;
}
.card__details ul {
  list-style: none;
  margin: 0 auto;
  font-weight: 600;
}
.card__details ul li {
  text-align: center;
  font-size: 1.6rem;
  padding: 0.55rem;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

@keyframes rotate_front {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(540deg);
  }
}
@keyframes rotate_back {
  0% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(720deg);
  }
}
.skill .d-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(6, 10rem);
  grid-template-rows: repeat(auto-fit, 10rem);
  gap: 2rem;
}
.skill .d-grid > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-shadow: 1px 1px 5px #ffb5b5, 3px 3px 5px #d69090;
  position: relative;
}
.skill .d-grid > li:hover img {
  animation: floatItem 1.5s linear infinite;
}
.skill .d-grid > li:hover::after {
  animation: floatShadow 1.5s linear infinite;
}
.skill .d-grid > li::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1rem;
  width: 2rem;
  height: 0.8rem;
  border-radius: 6rem/3rem;
}
.skill-container {
  padding: 0 10rem 0rem 10rem;
}
.skill__common {
  cursor: default;
  color: #fff;
  text-shadow: 1px 1px 5px #ffb5b5, 3px 3px 5px #d69090;
  margin-bottom: 1rem;
  padding: 2rem;
  border: 2px solid #f7f7f7;
  border-radius: 2rem;
  transition: box-shadow 0.3s;
}
.skill__common:hover {
  box-shadow: 2px 2px 6px #d69090;
}
.skill__common-title {
  padding-bottom: 1.5rem;
  font-size: 20px;
}
img {
  width: 8rem;
  display: block;
}

@keyframes floatItem {
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes floatShadow {
  0% {
    background-color: #b8b4b4;
  }
  50% {
    width: 4rem;
    height: 1rem;
    border-radius: 10rem/3rem;
  }
  100% {
    background-color: #b8b4b4;
  }
}

/*# sourceMappingURL=style.css.map */
