// COLOR
// $color-primary-light:#4b73d8;
// $color-primary-dark:#2c2c86;
// $color-primary-light:#dbbb9a;
$color-primary-light:#F3ECDA;
$color-primary-dark:#B79570;
// $color-primary-dark:#b18d66;
$color-primary-dark-1:#C4AC95;

$color-card-1-light:#a2b6f6;
$color-card-1-dark:#243056;

$color-card-2-light:#bbdfd3;
$color-card-2-dark:#66a28e;

$color-card-3-light:#c6dc65;
$color-card-3-dark:#738a0f;
// $color-card-3-light:#fbd2d0;
// $color-card-3-dark:#f29f9b;

$color-card-4-light:#8acbf3;
$color-card-4-dark:#385b86;

$color-card-5-light:#69dc8b;
$color-card-5-dark:#319d51;

$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#eee;

$color-grey-dark:#777;
$color-grey-dark-2:#999;
$color-grey-dark-3:#333;

$color-white:#fff;
$color-black:#000;
// FONT
$default-font-size: 1.6rem;