// COLOR
// $color-primary-light:#4b73d8;
// $color-primary-dark:#2c2c86;
// $color-primary-light:#dbbb9a;
$color-primary-light:#F3ECDA;
$color-primary-dark:#B79570;
// $color-primary-dark:#b18d66;
$color-primary-dark-1:#C4AC95;

$color-card-1-light:#8acbf3;
$color-card-1-dark:#385b86;

$color-card-2-light:#9ad291;
$color-card-2-dark:#6a9947;

$color-card-3-light:#fbd2d0;
$color-card-3-dark:#f29f9b;

$color-card-4-light:#81f5e3;
$color-card-4-dark:#1d5c52;

$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#eee;

$color-grey-dark:#777;
$color-grey-dark-2:#999;
$color-grey-dark-3:#333;

$color-white:#fff;
$color-black:#000;
// FONT
$default-font-size: 1.6rem;