// COLOR
// $color-primary-light:#4b73d8;
$color-primary-light:#dbbb9a;
// $color-primary-dark:#2c2c86;
$color-primary-dark:#b18d66;
$color-primary-dark-1:#B79570;

$color-secondary-light:#c9e0d1;
$color-secondary-dark:#8dab98;

$color-tertiary-light:#adac98;
$color-tertiary-dark:#999761;

$color-quaternary-light:#f1c0bd;
$color-quaternary-dark:#f29f9b;

$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#eee;

$color-grey-dark:#777;
$color-grey-dark-2:#999;
$color-grey-dark-3:#333;

$color-white:#fff;
$color-black:#000;
// FONT
$default-font-size: 1.6rem;