@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900&display=swap");
/**
 * 此文件是針對主題的變量和混合器，實現主題切換
 * 目前主題：
 * dreamy: 夢幻漸變
 * dark: 暗黑網格
 */
/**
 * 主題切換混合器(純用scss實現版)
 * 為不同的主題創建相應的CSS規則，並設置全局主題變量
 */
/**
 * 從當前主題中獲取指定屬性值(純用scss實現版)
 * @param $propName - 要獲取的屬性名稱
 * @return 對應的屬性值
 */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

* > li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #484848;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Monomakh", serif;
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  color: #484848;
  background: var(--bgColor);
}
html[data-theme=dreamy] body {
  --bgColor: linear-gradient(to right bottom, #fce67a, #fe97b3, #97d6fe);
  --textColor: #484848;
  --textShadow: none;
  --titleShadow: 1px 1px 5px #ffb5b5, 3px 3px 5px #d69090;
  --scrollBarColor: linear-gradient(to bottom, #fce67a, #fe97b3, #97d6fe);
  --anchorHoverColor: linear-gradient(to right bottom, #fce67a, #fe97b3, #97d6fe);
  --boxShadow: 0 0.2rem 1rem #e2b6b6;
  --toggleBtnBg: #ffb4bb;
  --toggleBtnInset: inset 0 0 5px #fe97b3;
  --navHover: #fac6c6;
  --loadingBar1: #ff9ba1;
  --loadingBar2: #ffcb96;
  --loadingBar3: #c7d5a7;
  --loadingText: #fce67a, #fe97b3, #97d6fe;
  --navColor: #615e5e, #d6d3d3, #868686;
  --marqueeBg: linear-gradient(to right bottom, rgba(252, 230, 122, 0.6), rgba(254, 151, 178, 0.6), rgba(151, 214, 254, 0.6));
}
html[data-theme=dark] body {
  --bgColor: fixed linear-gradient(transparent, #070707 70%), fixed repeating-linear-gradient(#212121, #212121 1px, transparent 1px, transparent 40px), fixed repeating-linear-gradient(to right, #212121, #212121 1px, transparent 1px, transparent 40px), #070707;
  --textColor: #eeeeee;
  --textShadow: #686868 1px 1px 1px, #454444 2px 2px 2px;
  --titleShadow: #626262 1px 1px 5px, #9e9e9e 3px 3px 5px;
  --scrollBarColor: linear-gradient(to bottom, #615e5e, #d6d3d3, #868686);
  --anchorHoverColor: linear-gradient(to right bottom, #ddd, #777);
  --boxShadow: 0 0.2rem 0.5rem #a7a7a7;
  --toggleBtnBg: #d8d8d8;
  --toggleBtnInset: inset 0 0 5px #000000;
  --navHover: #aaa;
  --loadingBar1: #3e3e3e;
  --loadingBar2: #797979;
  --loadingBar3: #898989;
  --loadingText: #615e5e, #d6d3d3, #868686;
  --navColor: #252525;
  --marqueeBg: rgba(188, 188, 188, 0.6);
}
body .cursor {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-image: linear-gradient(to right bottom, rgba(252, 230, 122, 0.6), rgba(254, 151, 178, 0.6), rgba(151, 214, 254, 0.6));
  background: var(--marqueeBg);
  color: #444;
  position: fixed;
  opacity: 0;
  z-index: 999;
  pointer-events: none;
  display: flex;
  align-items: center;
  overflow: hidden;
}
body .cursor_text {
  font-size: 2rem;
  font-weight: bold;
  white-space: pre;
  text-wrap: nowrap;
  animation: scrollText 15s linear infinite;
  text-transform: uppercase;
}

@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
*[lang=zh-TW] {
  font-family: "LXGW WenKai TC", serif;
}

.icon {
  padding: 0 10px;
}

.pr-1 {
  padding-right: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.d-none {
  display: none;
}

.loading-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 7%, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 100;
}
.loading-text {
  color: #b9b9b9;
  background-image: linear-gradient(to right, var(--loadingText));
  background-clip: text;
  color: transparent;
  background-size: 200% auto;
  animation: colorChange 3s linear infinite;
}
.loading-bar {
  width: 12px;
  height: 40px;
  y: 30px;
  animation: bounce 1.6s infinite ease-in-out;
}
.loading-bar:nth-child(1) {
  fill: var(--loadingBar1);
}
.loading-bar:nth-child(2) {
  fill: #797979;
  fill: var(--loadingBar2);
}
.loading-bar:nth-child(3) {
  fill: #898989;
  fill: var(--loadingBar3);
}

@keyframes colorChange {
  0%, 100% {
    background-position: 0% center;
  }
  50% {
    background-position: 100% center;
  }
}
@keyframes bounce {
  0%, 100% {
    y: 30px;
    height: 20px;
  }
  50% {
    y: 10px;
    height: 60px;
  }
}
.area {
  width: clamp(50rem, 85vw, 130rem);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0 10px 10px 10px;
  overflow: hidden;
  cursor: default;
  transition: width 1s;
}
@media (max-width: 560px) {
  .area {
    width: 82%;
  }
}
.area-inner {
  display: flex;
  height: 90vh;
  justify-content: center;
}
@media (max-width: 1024px) {
  .area-inner {
    flex-direction: column;
  }
}
.area-left {
  margin-top: 8rem;
  background-color: hsla(0, 0%, 100%, 0.4);
  backdrop-filter: blur(10px);
  width: 28rem;
  width: min(25vw, 28rem);
  position: relative;
}
@media (max-width: 1024px) {
  .area-left {
    width: 100%;
    margin-top: 0rem;
    box-shadow: var(--boxShadow);
    border-radius: 10px 10px 0 0;
  }
}
.area-left .info {
  position: relative;
  box-sizing: border-box;
}
@media (max-width: 1024px) {
  .area-left .info-inner {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    grid-template-rows: 12rem 1fr;
    justify-content: space-evenly;
  }
}
@media (max-width: 768px) {
  .area-left .info-inner {
    grid-template-rows: 13rem 1fr;
  }
}
@media (max-width: 560px) {
  .area-left .info-inner {
    grid-template-columns: 0.5fr 1fr;
  }
}
.area-left .info__image {
  position: absolute;
  left: 50%;
  top: -21rem;
  transform: translateX(-50%);
  transform-origin: center center;
}
@media (max-width: 1024px) {
  .area-left .info__image {
    position: static;
    justify-self: center;
    transform: translateX(0%);
    grid-row: 1/-1;
  }
}
@media (max-width: 768px) {
  .area-left .info__image {
    grid-row: 1/2;
  }
}
.area-left .info__image > img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 50%;
  z-index: 5;
  border: 0.5rem solid rgba(255, 255, 255, 0.4);
}
@media (max-width: 1024px) {
  .area-left .info__image > img {
    width: 15rem;
    height: 15rem;
  }
}
@media (max-width: 768px) {
  .area-left .info__image > img {
    width: 12rem;
    height: 12rem;
  }
}
@media (max-width: 560px) {
  .area-left .info__image > img {
    width: 10rem;
    height: 10rem;
    border: 0.2rem solid #fff;
    margin-left: 0.5rem;
  }
}
.area-left .info__content {
  padding: 1.5rem;
  margin: 0.6rem;
  border-radius: 1.5rem;
  margin-top: 13rem;
}
@media (max-width: 1024px) {
  .area-left .info__content {
    margin: 1rem;
    margin: 0rem 1rem;
    padding: 1rem;
    grid-column: 2/-1;
  }
}
@media (max-width: 768px) {
  .area-left .info__content {
    border: 0.1rem solid transparent;
    padding: 1.2rem;
    justify-self: flex-start;
  }
}
@media (max-width: 560px) {
  .area-left .info__content {
    padding-left: 0;
  }
}
@media (max-width: 1024px) {
  .area-left .info__content-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .area-left .info__content-container {
    flex-direction: column;
    width: 100%;
  }
}
.area-left .info__content-info {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 30px;
  font-weight: 300;
  color: var(--textColor);
  text-shadow: var(--textShadow);
  overflow: hidden;
}
.area-left .info__content-info > p:nth-child(2) {
  font-size: 20px;
}
@media (max-width: 1024px) {
  .area-left .info__content-info {
    margin-bottom: 0rem;
    flex: 1.5;
  }
}
@media (max-width: 768px) {
  .area-left .info__content-info > p {
    display: inline-block;
  }
}
@media (max-width: 560px) {
  .area-left .info__content-info > p {
    font-size: 24px;
  }
  .area-left .info__content-info > p:nth-child(2) {
    font-size: 16px;
  }
}
.area-left .info__content-contact {
  margin-bottom: 1rem;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .area-left .info__content-contact {
    margin-bottom: 0rem;
    flex: 2;
  }
}
@media (max-width: 768px) {
  .area-left .info__content-contact {
    margin-top: 1rem;
  }
}
.area-left .info__content-contact > a {
  display: block;
  color: var(--textColor);
  text-shadow: var(--textShadow);
  width: max-content;
}
@media (max-width: 560px) {
  .area-left .info__content-contact > a {
    font-size: 14px;
  }
}
.area-left .info__content-contact > a i {
  transition: color 0.5s, transform 0.3s;
}
.area-left .info__content-contact > a:hover {
  text-shadow: none;
}
.area-left .info__content-contact > a:hover i {
  background-image: var(--anchorHoverColor);
  background-clip: text;
  color: transparent;
}
.area-left .info__content-intro {
  font-size: 14px;
  padding: 1rem;
  cursor: default;
}
@media (max-width: 1024px) {
  .area-left .nav {
    display: flex;
    grid-column: 2/-1;
  }
}
@media (max-width: 768px) {
  .area-left .nav {
    grid-column: 1/-1;
  }
}
.area-left .nav-title {
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  width: 100%;
}
@media (max-width: 1024px) {
  .area-left .nav-title {
    text-align: center;
  }
}
.area-left .nav-title a {
  -webkit-tap-highlight-color: transparent;
  display: block;
  padding: 1rem 1.5rem;
  position: relative;
  letter-spacing: 2px;
  color: var(--navColor);
}
@media (max-width: 1024px) {
  .area-left .nav-title a {
    border-bottom: 1px solid transparent;
  }
}
@media (max-width: 560px) {
  .area-left .nav-title a {
    font-size: 1.4rem;
  }
}
.area-left .nav-title a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, #fff, transparent);
  transition: left 0.5s;
}
@media (hover: none) {
  .area-left .nav-title a:hover {
    background-color: initial;
  }
  .area-left .nav-title a:active {
    background-color: var(--navHover);
  }
}
@media (hover: hover) {
  .area-left .nav-title a:hover {
    background-color: var(--navHover);
  }
}
.area-left .nav-title a:hover::before {
  left: 100%;
}
.area-left .btn_toggle {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
}
@media (max-width: 1024px) {
  .area-left .btn_toggle {
    left: auto;
    bottom: auto;
    top: 2rem;
    right: 1.6rem;
  }
}
@media (max-width: 768px) {
  .area-left .btn_toggle {
    top: 1rem;
    right: 1rem;
  }
}
@media (max-width: 768px) {
  .area-left .btn_toggle {
    top: 1rem;
    right: 1rem;
  }
}
@media (max-width: 560px) {
  .area-left .btn_toggle {
    top: 0.5rem;
    right: 0.5rem;
  }
}
.area-right {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.25);
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  scroll-behavior: smooth;
}
@-moz-document url-prefix() {
  .area-right {
    scrollbar-color: #cab7cf transparent;
  }
}
.area-right > section > h2 {
  overflow: hidden;
  margin: 3rem auto;
  letter-spacing: 3px;
  font-size: 4rem;
  color: #fff;
  text-shadow: var(--titleShadow);
  font-weight: 300;
}
.area-right > section > h2 span {
  display: inline-block;
}
@media (max-width: 1024px) {
  .area-right > section > h2 {
    text-align: center;
    font-size: 3rem;
  }
}
.area-right section:not(:first-of-type) h2 {
  margin-top: 5rem;
}
.area-right::-webkit-scrollbar {
  width: 5px;
  background: #eee;
}
.area-right::-webkit-scrollbar-thumb {
  background-image: var(--scrollBarColor);
}
.area-right > .project {
  scroll-margin-top: 25px;
}
.area-right > .skill {
  scroll-margin-top: 25px;
}

.card {
  perspective: 150rem;
  position: relative;
  width: 100%;
  min-height: 20rem;
  cursor: pointer;
}
.card-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 35rem);
  gap: 4rem;
  margin-inline: 3rem;
}
@media (max-width: 1024px) {
  .card-container {
    grid-template-columns: repeat(auto-fit, 30rem);
    gap: 2.5rem;
  }
}
.card__side {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
  transition: all 0.8s ease;
}
.card__side--back {
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__link {
  text-decoration: none;
}
.card__link--1 {
  color: #203372;
}
.card__link--2 {
  color: #376f5d;
}
.card__link--3 {
  color: #5e5757;
}
.card__link--4 {
  color: #1c4168;
}
.card__link--5 {
  color: #218941;
}
.card__link--6 {
  color: #007891;
}
.card:hover .card__side--front {
  animation: rotate_front 1.2s cubic-bezier(0.27, 0.74, 0.63, 0) forwards;
}
.card:hover .card__side--back {
  animation: rotate_back 1.2s cubic-bezier(0.27, 0.74, 0.63, 0) forwards;
}
.card-reverse .card__side--front {
  animation: rotate_front_reverse 1.2s cubic-bezier(0.27, 0.74, 0.63, 0) forwards;
}
.card-reverse .card__side--back {
  animation: rotate_back_reverse 1.2s cubic-bezier(0.27, 0.74, 0.63, 0) forwards;
}
.card__picture {
  --card-background-1: url("/img/Accessories.png");
  --card-background-2: url("/img/happypet.png");
  --card-background-3: url("/img/snake_game.png");
  --card-background-4: url("/img/vue3_accounting.png");
  --card-background-5: url("/img/taiwan_travel.png");
  --card-background-6: url("/img/pin_journey.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  background-blend-mode: screen;
}
@supports (background-image: url("/img/Accessories.webp")) {
  .card__picture {
    --card-background-1: url("/img/Accessories.webp");
    --card-background-2: url("/img/happypet.webp");
    --card-background-3: url("/img/snake_game.webp");
    --card-background-4: url("/img/vue3_accounting.webp");
    --card-background-5: url("/img/taiwan_travel.webp");
    --card-background-6: url("/img/pin_journey.webp");
  }
}
.card__picture--1 {
  background-image: linear-gradient(to right bottom, rgb(130.0684931507, 150.8904109589, 219.9315068493), #203372), var(--card-background-1);
}
.card__picture--2 {
  background-image: linear-gradient(to right bottom, rgb(161.3855421687, 208.6144578313, 193.4337349398), #376f5d), var(--card-background-2);
}
.card__picture--3 {
  background-image: linear-gradient(to right bottom, rgb(194.9171270718, 190.0828729282, 190.0828729282), #5e5757), var(--card-background-3);
}
.card__picture--4 {
  background-image: linear-gradient(to right bottom, rgb(117.9090909091, 166.6818181818, 218.0909090909), #1c4168), var(--card-background-4);
}
.card__picture--5 {
  background-image: linear-gradient(to right bottom, rgb(145.4, 228.6, 171), #218941), var(--card-background-5);
}
.card__picture--6 {
  background-image: linear-gradient(to right bottom, rgb(94, 227.2413793103, 255), #007891), var(--card-background-6);
}
.card__heading {
  width: 80%;
  font-size: 2.6rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  position: absolute;
  top: 12rem;
  right: 1.6rem;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  transform: skewX(-25deg);
}
@media (max-width: 1024px) {
  .card__heading {
    width: 90%;
  }
}
.card__heading-span {
  padding: 1rem 1.5rem;
  margin-right: 2rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  transform: skewX(25deg);
  text-shadow: 1px 1px 4px #eee;
}
.card__heading-span--subtitle {
  padding: 0.7rem 1.3rem;
  font-size: 1.4rem;
  margin-top: -1.3rem;
  margin-right: -1rem;
}
.card__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(130.0684931507, 150.8904109589, 219.9315068493, 0.85), rgba(32, 51, 114, 0.85));
}
.card__heading-span--2 {
  background-image: linear-gradient(to right bottom, rgba(161.3855421687, 208.6144578313, 193.4337349398, 0.85), rgba(55, 111, 93, 0.85));
}
.card__heading-span--3 {
  background-image: linear-gradient(to right bottom, rgba(194.9171270718, 190.0828729282, 190.0828729282, 0.85), rgba(94, 87, 87, 0.85));
}
.card__heading-span--4 {
  background-image: linear-gradient(to right bottom, rgba(117.9090909091, 166.6818181818, 218.0909090909, 0.85), rgba(28, 65, 104, 0.85));
}
.card__heading-span--5 {
  background-image: linear-gradient(to right bottom, rgba(145.4, 228.6, 171, 0.85), rgba(33, 137, 65, 0.85));
}
.card__heading-span--6 {
  background-image: linear-gradient(to right bottom, rgba(94, 227.2413793103, 255, 0.85), rgba(0, 120, 145, 0.85));
}
.card__details {
  padding: 1.2rem;
}
.card__details ul {
  list-style: none;
  margin: 0 auto;
  font-weight: 600;
}
.card__details ul li {
  text-align: center;
  padding: 0.55rem;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

@keyframes rotate_front {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(540deg);
  }
}
@keyframes rotate_front_reverse {
  0% {
    transform: rotateY(540deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@keyframes rotate_back {
  0% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(720deg);
  }
}
@keyframes rotate_back_reverse {
  0% {
    transform: rotateY(720deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
.skill .d-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 10rem);
  grid-auto-rows: 10rem;
  gap: 2rem;
}
.skill__items > .skill-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-shadow: var(--titleShadow);
  position: relative;
}
.skill__items > .skill-item::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  width: 2rem;
  height: 0.8rem;
  border-radius: 6rem/3rem;
}
.skill__items > .skill-item:hover::after {
  animation: floatShadow 1.5s linear infinite;
}
.skill__items > .skill-item img {
  width: 8rem;
  aspect-ratio: 1;
  object-fit: contain;
  display: block;
}
.skill__items > .skill-item:hover img {
  animation: floatItem 1.5s linear infinite;
}
.skill-container {
  padding: 0 10rem;
  margin-bottom: 10rem;
}
@media (max-width: 768px) {
  .skill-container {
    padding: 0 6rem;
  }
}
@media (max-width: 560px) {
  .skill-container {
    padding: 0 3rem;
  }
}
.skill__common {
  cursor: default;
  color: #fff;
  text-shadow: var(--titleShadow);
  margin-bottom: 1rem;
  padding: 2rem;
  border: 2px solid #eee;
  border-radius: 2rem;
  transition: box-shadow 0.3s;
}
.skill__common:hover {
  box-shadow: var(--titleShadow);
}
.skill__common-title {
  padding-bottom: 1.5rem;
  font-size: 20px;
}

@keyframes floatItem {
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes floatShadow {
  0%, 100% {
    background-color: #b8b4b4;
  }
  50% {
    width: 4rem;
    height: 1rem;
    border-radius: 10rem/3rem;
  }
}
.btn_toggle {
  width: 5rem;
  height: 2.2rem;
  position: relative;
  display: flex;
  align-items: center;
}
.btn_toggle::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 2.2rem;
  border-radius: 10rem;
  background: var(--toggleBtnBg);
  box-shadow: var(--toggleBtnInset);
}
.btn_toggle > [name=theme] {
  display: none;
}
.btn_toggle > [name=theme]:checked + label {
  translate: 2.6rem;
  background: url("/img/mode/unicorn1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.btn_toggle > label {
  margin-inline: 0.3rem;
  cursor: pointer;
  display: block;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  transition: translate 500ms;
  background: url("/img/mode/dark.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/*# sourceMappingURL=style.css.map */
