
body{
    background-repeat: no-repeat;
    // $color-primary-light,
    background-image: linear-gradient(to right bottom, #fce67a, #fe97b3, #97d6fe,);
    // background-image: linear-gradient(to right bottom,
    //     #F3ECDA,
    //     #cda881,

    //     #a47b4f,
    //     #795023,
    //     #502f0c,
    //     );
        // $color-primary-dark,
    // height: 100vh;
    // overflow: hidden;
}
.name-text{
    text-align: center;
    text-transform: uppercase;
    margin: 5rem;
    font-size: 5rem;
    font-weight: 400;
    color: #fff;
    text-shadow: .2rem .2rem 2rem #888;
    overflow: hidden;

}
.section-portfolio{
    display: flex;
    justify-content: space-around;
    opacity: 0;
}
.loading{
    &-overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(18, 18, 18, 0.9);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 100;
    }
    &-text{
        color: #b9b9b9;
        background-image: linear-gradient(to right, #fce67a, #fe97b3, #97d6fe,);
        background-clip: text;
        color: transparent;
        background-size: 200% auto;  /* 讓漸層範圍變大 */
        animation: colorChange 3s linear infinite; 
    }
    &-bar {
        width: 12px;
        height: 40px;
        y: 30px;
        animation: bounce 1.6s infinite ease-in-out;
    }
}
@keyframes colorChange{
    0% ,100%{
        background-position: 0% center;
    }
    50% {
        background-position: 100% center;
    }
}
@keyframes bounce {
    0%, 100% {
        y: 30px;
        height: 20px;
    }
    50% {
        y: 10px;
        height: 60px;
    }
}


