
body{
    background-repeat: no-repeat;
    background-image: linear-gradient(to right bottom,$color-primary-dark,$color-primary-light);
    height: 100vh;
    overflow: hidden;
}
.Logo-text{
    text-align: center;
    text-transform: uppercase;
    margin: 5rem;
    font-size: 5rem;
    color: #fff;
    text-shadow: .2rem .2rem 2rem #888;
    overflow: hidden;

}
.section-portfolio{
    display: flex;
    justify-content: space-around;
}