@use '../abstracts/index' as *;
// @use '../abstracts/variables' as *;
// @use '../abstracts/mixin' as *;
@use '../abstracts/themes' as *;
// font-family: 'Monomakh', serif;
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
* > li {
	list-style: none;
}
a {
	text-decoration: none;
	color: $text-color-default;
}

html {
	// font-size: 10px;
	// 用10px會好計算，但通常不會直接寫10px，而是用瀏覽器預設字體大小的16px*62.5% = 10px
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	font-family: 'Monomakh', serif;

	box-sizing: border-box; //在*使用繼承
	overflow-y: auto;
	overflow-x: hidden;
	position: relative;
	font-size: 1.6rem;
	color: $text-color-default;
	background: var(--bgColor);
	// css變數搭配scss
	@include changeTheme;
	// scss版
	// @include changeTheme {
	// 	background: getValue('bgColor');
	// 	color: getValue('textColor');
	// 	text-shadow: getValue('textShadow');
	// }
	// 設置firefox滾動條
	@-moz-document url-prefix() {
		scrollbar-color: #cab7cf transparent;
	}
	// 設置chrome滾動條
	&::-webkit-scrollbar {
		width: 5px;
		background: $color-grey-light-1;
	}

	&::-webkit-scrollbar-thumb {
		background-image: var(--scrollBarColor);
	}
	#project,
	#skills {
		scroll-margin-top: 25px;
	}
	.cursor {
		width: 2rem;
		height: 2rem;
		border-radius: 50%;
		background-image: linear-gradient(to right bottom, rgba(252, 230, 122, 0.6), rgba(254, 151, 178, 0.6), rgba(151, 214, 254, 0.6));
		background: var(--marqueeBg);
		color: #444;
		position: fixed;
		opacity: 0;
		z-index: 999;
		pointer-events: none;
		display: flex;
		align-items: center;
		overflow: hidden;

		&_text {
			font-size: 2rem;
			font-weight: bold;
			white-space: pre;
			text-wrap: nowrap;
			animation: scrollText 15s linear infinite;
			text-transform: uppercase;
		}
	}
	.btn_toggle {
		position: fixed;
		right: 1rem;
		top: 1rem;
	}
}
@keyframes scrollText {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(-100%);
	}
}
*[lang='zh-TW'] {
	font-family: 'LXGW WenKai TC', serif;
}

.icon {
	padding: 0 10px;
}
.pr-1 {
	padding-right: 1rem;
}
.pb-1 {
	padding-bottom: 1rem;
}
.d-none {
	display: none;
}
